# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.env/
.venv/

# ROS2
build/
install/
log/

# VS Code
.vscode/

# JetBrains
.idea/

# Ubuntu
*~

# Python
.ipynb_checkpoints/

# Media
*.bag

# Dataset
datasets/

# Temporary
*.tmp
*.swp

# Compiled
*.so

# Logs
*.log
